<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='mappers.ProductMapper'>

    <resultMap type='Product' id='ProductResult'>
        <id property='id' column='product_id'/>
        <result property='title' column='title'/>
        <result property='price' column='price'/>
        <result property='address' column='address'/>
        <result property='imgSrc' column='img_src'/>
        <result property='lastModified' column='last_modified'/>
        <result property='status' column='status'/>
    </resultMap>

    <select id='getPriceById' parameterType='int' resultType='double'>
        SELECT price FROM PRODUCTS WHERE PRODUCT_ID = #{id}
    </select>

    <select id='getAllProductIds' resultType='Integer'>
        SELECT product_id FROM PRODUCTS
    </select>

    <resultMap type='Product' id='ProductResult1'>
        <id property='id' column='product_id'/>
        <result property='title' column='title'/>
        <result property='price' column='price'/>
        <result property='address' column='address'/>
        <result property='imgSrc' column='img_src'/>
        <result property='status' column='status'/>
    </resultMap>

    <insert id='insertProduct' parameterType='Product'>
        INSERT INTO PRODUCTS(
        product_id,
        title,
        price,
        address,
        img_src,
        last_modified,
        status
        )
        VALUES(
        #{id},
        #{title},
        #{price},
        #{address},
        #{imgSrc},
        #{lastModified},
        #{status}
        )
    </insert>

    <update id='updateProduct' parameterType='Product'>
        UPDATE PRODUCTS
        SET
        TITLE = #{title},
        PRICE = #{price},
        ADDRESS = #{address},
        IMG_SRC = #{imgSrc},
        LAST_MODIFIED = #{lastModified},
        STATUS = #{status}
        WHERE PRODUCT_ID = #{id}
    </update>

    <update id='markProductAsDeleted' parameterType='int'>
        UPDATE PRODUCTS
        SET
        STATUS = 'DELETED'
        WHERE PRODUCT_ID = #{id}
    </update>

</mapper>